extends layout
block content
    .container 
        .row 
            each data in db
                .col-lg-6.col-xl-3.col-md-4.col-sm-6.big__card
                    .card
                        .imgBox
                        img.mouse(src= "/images/"+ data.img, alt=""  )
                        .contentBox 
                         h3= data.title   
                         h2.price= data.price 
                            |  $
                         .price__box
                          p.buy(dataId= "/add/product/"+data._id)  Batafsil
                          if(log)
                           a.add(href="/add/delete/"+data.id).button_my O`chirish
                           a.like(href="/add/update/"+data.id).button_my O`zgartirish






                        //- .card-img(dataId= "/add/product/"+data.id) 
                        //-     img(src= "images/"+ data.img, alt="")
                        //-     p.saleing=  data.sale
                        //-         | %
                        //- .card-text 
                        //-     h3= data.title 
                        //-     .price_box
                        //-         p.price= data.price 
                        //-             |  Sum 
                        //-         if data.sale 
                        //-             p.sale= data.price - (data.price * data.sale / 100)
                        //-             |  Sale
                        //-     .card_bottom 
                        //-         p.date= data.dataTime.toLocaleDateString() 
                        //-             i.far.fa-calendar-alt 
                        //-         p.category=  data.category