.navbar__my.container
  .logo__my
    a.h3(href='/') olx
  ul.links
    if(!login)
      li
        a(href='/') Bosh sahifa
      li
        a(href='/register/login') Kirish
    else 
      li
        a(href='/add') Maxsulot qoshish
      li
        a(href='/category') kategoriyalar
      li
        a(href='/register/logout') chiqish