extends layout
block content
  .container
    .cotegories
      a.category_icon(href="/category/chev") chevrolet
      a.category_icon(href="/category/bmw") bmw
      a.category_icon(href="/category/lada") lada
      a.category_icon(href="/category/mers") mers

